body {
  font-family: 'Roboto', sans-serif;
  background-color: #8200BF;
  color: #d0d0d0;
  font-size: 14px;
}
.catalog {
  padding-top: 60px;
  padding-bottom: 133px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 19px 30px;
}
.grid-item-title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
.grid-item-img {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  text-align: center;
}
.grid-item-left {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  margin-top: 80px;
}
.grid-item-right {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  margin-top: 80px;
}
.grid-item-catalog {
  text-align: center;
}
.grid-item-catalog .bg-white {
  padding: 15px 15px 15px 15px;
}
.thumb {
  margin-bottom: 14px;
}
.grid-title {
  line-height: 1.5;
  margin-bottom: 0;
}
.grid-watch {
  font-size: 21px;
  font-weight: 500;
  margin-top: 14px;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
.grid-btn {
  border-radius: 30px;
  border: 2px solid #4F0672;
  background-color: #4F0672;
  color: #fff;
  padding: 6px 41px;
  text-decoration: none;
  transition: 0.2s ease;
  cursor: pointer;
}
.grid-btn:hover {
  background-color: #fff;
  color: #333333;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 23px;
}
footer-info {
  display:flex;
  align-items: center;
}
.footer-info span:first-child {
  font-size: 14px;
  margin-left: 0;
}
.footer-info span {
  font-size: 16px;
  margin-left: 103px;
}
.footer-info button {
  font-size: 14px;
  border-radius: 20px;
  border: 2px solid #4F0672;
  background-color: transparent;
  padding: 10px 25px;
  margin-left: 36px;
  transition: 0.2s ease;
  cursor: pointer;
}
.footer-info button:hover {
  background-color: #4F0672;
}
.social {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}
.social-item {
  margin-right: 20px;
}
.social-item:last-child {
  margin-right: 0;
}
.social-link {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #4F0672;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.social-link:hover {
  background-color:rgb(155 216 156 / 0.1);
}
.social-youtube {
  background-image: url(../youtube.png);
}
.social-vk {
  background-image: url(../wk.png);
}
.social-fb {
  background-image: url(../facebook-logo.png);
}
.social-instagram {
  background-image: url(../instagram.png);
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  color: #4F0672;
  padding: 26px 0;
  font-size: 12px;
}
.footer-bottom p {
  margin: 0;
}
.footer-bottom a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s ease;
}
.footer-bottom a:hover {
  color: #4F0672;   
}
@media(max-width: 1170px) {
  .grid {
      grid-template-columns: repeat(2, 1fr);
  }
  .grid-item-title {
      grid-column: 1 / 3;
  }
  .grid-item-img {
      display: none;
  }
  .grid-item-left {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      margin-top: 50px;
  }
  .grid-item-right {
      display: none;
  }
  .footer-top, .footer-bottom {
      flex-direction: column;
  }
  .footer-bottom {
      text-align: center;
      padding: 30px 0 26px 0;
  }
  .footer-bottom p {
      margin: 0 0 20px 0;
  }
}
@media(max-width: 1000px) {
  .bg-green-item {
      flex: 0 0 100%;
  }
  .bg-green-img {
      display: none;
  }
}
@media(max-width: 800px) {
  .logo {
      font-size: 22px;
  }
  .logo-image {
      width: 50px;
      height: 50px;
      background-size: cover;
      margin-right: 12px;
  }
  .banner {
    background-image: url(../mb\ version\ lion.png);
      background-color: #810098;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 100px;

  }
  .banner p {
      margin: 0 auto 57px;
  }
  .grid-item-left {
      grid-column: 1 / 3;
  }
  .footer-info {
      display: flex;
      flex-direction: column;
      text-align: center;
  }
  .footer-top {
      padding-bottom: 35px;
  }
  .footer-top-item {
      margin-bottom: 20px;
  }
  .footer-info span {
      font-size: 14px;
      margin-left: 0;
      margin-bottom: 20px;
  }
  .footer-info button {
      margin-left: 0;
  }
}
@media(max-width: 600px) {
  .header-top {
      flex-direction: column;
  }
  .logo {
      margin-bottom: 20px;
  }
  .grid {
      grid-template-columns: repeat(1, 1fr);
  }
  .grid-item-title, .grid-item-left {
      grid-column: 1 / 2;
  }
  .grid-item-left {
      grid-row: inherit;
      text-align: center;
  }
}
@media(max-width: 430px) {
  .header-info span, .header-info button {
      font-size: 12px;
  }
  .header-info button {
      margin-left: 15px;
  }
  .header-bottom .nav {
      font-size: 14px;
  }
  .nav > li, .header-bottom .nav > li {
      margin-left: 10px;
      margin-right: 10px;
  }
  .title {
      font-size: 30px;
  }
}
.catalog1 {
  padding-top: 60px;
  padding-bottom: 133px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 19px 30px;
}
.grid-item-title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
.grid-item-img {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  text-align: center;
}
.grid-item-left {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  margin-top: 80px;
}
.grid-item-right {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  margin-top: 80px;
}
.grid-item-catalog {
  text-align: center;
}
.grid-item-catalog .bg-white {
  padding: 15px 15px 15px 15px;
}
.thumb {
  margin-bottom: 14px;
}
.grid-title {
  line-height: 1.5;
  margin-bottom: 0;
}
.grid-watch {
  font-size: 21px;
  font-weight: 500;
  margin-top: 14px;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
.grid-btn {
  border-radius: 30px;
  border: 2px solid #4F0672;
  background-color: #4F0672;
  color: #fff;
  padding: 6px 41px;
  text-decoration: none;
  transition: 0.2s ease;
  cursor: pointer;
}
.grid-btn:hover {
  background-color: #fff;
  color: #333333;
}